################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PeriodicTableApi/.vs/PeriodicTableApi
/PeriodicTableApi/.github
